<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>buyCount</key>
		<string>100</string>
		<key>price</key>
		<string>10</string>
		<key>title</key>
		<string>测试0</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>40</string>
		<key>price</key>
		<string>5</string>
		<key>title</key>
		<string>测试1</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>101</string>
		<key>price</key>
		<string>100</string>
		<key>title</key>
		<string>测试2</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1001</string>
		<key>price</key>
		<string>1000</string>
		<key>title</key>
		<string>测试3</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1002</string>
		<key>price</key>
		<string>1000</string>
		<key>title</key>
		<string>测试4</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1003</string>
		<key>price</key>
		<string>10000</string>
		<key>title</key>
		<string>测试5</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1001</string>
		<key>price</key>
		<string>100</string>
		<key>title</key>
		<string>测试6</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1001</string>
		<key>price</key>
		<string>103</string>
		<key>title</key>
		<string>测试7</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>100</string>
		<key>price</key>
		<string>10</string>
		<key>title</key>
		<string>测试8</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1020</string>
		<key>price</key>
		<string>110</string>
		<key>title</key>
		<string>测试9</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1020</string>
		<key>price</key>
		<string>120</string>
		<key>title</key>
		<string>测试10</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1300</string>
		<key>price</key>
		<string>130</string>
		<key>title</key>
		<string>测试11</string>
	</dict>
	<dict>
        <key>icon</key>
        <string>1.jpg</string>
		<key>buyCount</key>
		<string>1500</string>
		<key>price</key>
		<string>150</string>
		<key>title</key>
		<string>测试12</string>
	</dict>
</array>
</plist>
