<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>10</string>
		<key>name</key>
		<string>第一瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>11</string>
		<key>name</key>
		<string>第二瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>12</string>
		<key>name</key>
		<string>第三瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>13</string>
		<key>name</key>
		<string>第三瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>14</string>
		<key>name</key>
		<string>第四瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>15</string>
		<key>name</key>
		<string>第五瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>16</string>
		<key>name</key>
		<string>第六瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>17</string>
		<key>name</key>
		<string>第七瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>18</string>
		<key>name</key>
		<string>第八瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>19</string>
		<key>name</key>
		<string>第九瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>20</string>
		<key>name</key>
		<string>第十瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>21</string>
		<key>name</key>
		<string>第十一瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>22</string>
		<key>name</key>
		<string>第十二瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>23</string>
		<key>name</key>
		<string>第十三瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>24</string>
		<key>name</key>
		<string>第十四瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>25</string>
		<key>name</key>
		<string>第十五瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>26</string>
		<key>name</key>
		<string>第十六瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>27</string>
		<key>name</key>
		<string>第十七瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>28</string>
		<key>name</key>
		<string>第十八瓶酒</string>
	</dict>
	<dict>
		<key>image</key>
		<string>1.png</string>
		<key>money</key>
		<string>29</string>
		<key>name</key>
		<string>第十九瓶酒</string>
	</dict>
</array>
</plist>
