<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>发放打法是否大法</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发顺丰</string>
		<key>vip</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店放大看了发动机了发动机奥拉夫决定了撒酒疯发达拉斯解放路的撒娇</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<true/>
		<key>picture</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<false/>
		<key>picture</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<true/>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店发大发了肯定撒解放路的撒娇来访接待室酸辣粉了肯定撒解放路看电视地方撒解放路的撒娇发的撒娇</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<false/>
		<key>picture</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店放大了范德萨丽枫酒店快速拉进来风刀霜剑奥拉夫绝对是垃圾分类的卡萨家里放家里睡大觉</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<true/>
		<key>picture</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店发大水发的撒评分低SAP覅手动排风扇</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<false/>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店发大水发的撒范德萨发的</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<true/>
		<key>picture</key>
		<string>2.png</string>
	</dict>
	<dict>
		<key>text</key>
		<string>开发的骄傲咖啡店范德萨范德萨发生</string>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>发发呆</string>
		<key>vip</key>
		<false/>
	</dict>
</array>
</plist>
